@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  text-align: center;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #586674;
  border-radius: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background: transparent;
}

body,
html {
  height: 100%;
}

nav{
  position: fixed;
  background: #292e3b;
  width: 100%;
  top: 0;
  padding: 8px;
  z-index: 99;
  border-bottom: 5px solid #1A1F2B;
}

nav p{
  text-align: left;
  font-weight: 550;
  padding-top: 0.5%;
  padding-left: 4%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  color: #111e6c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  padding-top: 70px;
}

.main:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /*background: #111e6c;*/
  opacity: 0.2;
  filter: alpha(opacity=90);
}
.main-text {
  top: 20%;
  left: auto;
  right: auto;
  position: relative;
  color: #111e6c;
}
.btn-circle,
#to-top {
  border-radius: 50%;
  background: #1A1F2B;
  padding: 7px;
  font-size: 14px;
  /* border-radius: 50%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.c2a-btn {
  margin: 0 auto 3rem;
}

.btn-default {
  color: #fff;
  background-color: #1A1F2B;
  border-color: #111e6c;
  transition: all 1s ease;
}

.btn-group-lg > .btn,
.btn-lg {
  margin: -0.4%;
  padding: 1.5% 10%;
  font-size: 90%;
  line-height: 1.3333333;
  transition: all 500ms ease;
}

.btn3:hover{
  background: linear-gradient(250deg, #e0e0e0, #1A1F2B);
  color: black;
  font-weight: bold;
}

.btn2:hover{
  background: linear-gradient(250deg, #1A1F2B, #e0e0e0);
  color: black;
  font-weight: bold;
}

.btn-group .btn-or {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0;
  border: 2px solid #fff;
}

body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
  color: white;
  background: #000;
}

video{
  object-fit: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(0.35);
}

#vid2{
  height: 140%;
}

#vid3{
  height: 165%;
}

#isi{
  background-color: #414654d9;
  position: relative;
  margin: 0 10rem;
  margin-top: -83vh;
  border: 3px solid white;
  border-radius: 10px;
}

.isi2{
  background-color: #414654d9;
  position: relative;
  margin: 0 10rem;
  margin-top: -125vh;
  border: 3px solid white;
  border-radius: 10px;
}

.isi3{
  background-color: #414654d9;
  position: relative;
  margin: 0 10rem;
  margin-top: -63rem;
  border: 3px solid white;
  border-radius: 10px;
  padding: 3%;
}

h2{
  text-align: center;
  padding: 20px 0;
}

.tiga{
  width: 130px;
  transition: all 500ms ease;
}

.dua{
  width: 120px;
  transition: all 500ms ease;
}

.tiga:hover{
  transform: scale(1.2);
}

.dua:hover{
  transform: scale(1.2);
}

.pilih{
  display: inline-flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.pilih2{
  display: flex;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

a{
  text-decoration: none;
  color: black;
  padding: 10px 50px;
  background-color: #E7D1BB;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  display: grid;
  justify-content: center;
}

tbody{
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 7px;
}

.ordo{
  background: #292e3b;  
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 7px;
  transition: all 500ms ease;
}

table .ordo:hover{
  transform: scale(1.3);
}

button{
  margin: 20px;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #e0e0e0;
  transition: all 700ms ease;
}

button:hover{
  background-color: #1A1F2B;
  color: #e0e0e0;
  animation: bn54rotate 0.7s ease-in-out both;
  animation-delay: 0.06s;
  box-shadow: 0 0 3rem rgba(250, 239, 239, 0.3);
  cursor: pointer;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

input{
  width: 35px;
  height: 25px;
}

td {
  padding: 7px;
}

#hasil{
  font-size: 20px;
}

footer{
  text-align: center;
  background-color: #292e3b;
  padding: 9px;
  font-size: 75%;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999999999;
}

button + p{
  padding-bottom: 25px;
}


@media screen and  (max-width: 2200px){
  #vid3{
    height: 120%;
  }

  #vid2{
    height: 120%;
  }
  
  .isi3{
    background-color: #414654d9;
    position: relative;
    margin: 0 10rem;
    margin-top: -105vh;
    border: 3px solid white;
    border-radius: 10px;
    padding: 3%;
  }

  .isi2{
    background-color: #414654d9;
    position: relative;
    margin: 0 10rem;
    margin-top: -107vh;
    border: 3px solid white;
    border-radius: 10px;
    padding: 3%;
  }
}

/*=================== IPAD ======================*/
@media screen and  (max-width: 1024px) {
  video{
    height: 100vh;
  }

  #isi{
    position: relative;
    margin: 0 6rem;
    margin-top: -81vh;
    border: 3px solid white;
    border-radius: 10px;
  }

  #vid2{
    height: 100vh;
  }

  .isi2{
    position: relative;
    margin: 0 6rem;
    margin-top: -91vh;
    border: 3px solid white;
    border-radius: 10px;
  }

  #vid3{
    height: 100vh;
  }

  .isi3{
    position: relative;
    margin: 0 6rem;
    margin-top: -88vh;
    border: 3px solid white;
    border-radius: 10px;
  }

  .pilih2{
    gap: 20%;
    padding: 10%;
  }

  .main{
    padding-top: 9%;
    font-size: 135%;
  }
  
  .c2a-btn {
    margin: 0 auto 6rem;
  }

  footer{
    text-align: center;
    background-color: #292e3b;
    padding: 9px;
    font-size: 75%;
    position: fixed;
    bottom: 0;
    margin-top: 10vh;
  }
}



/*=================== PHONE ======================*/
@media screen and  (max-width: 600px) {
  p{
      font-size: 90%;
  }

  h2{
    font-size: 110%;
    padding: 12%;
  }

  .btn-group-lg > .btn,
  .btn-lg {
    margin: -2%;
    padding: 3% 15%;
    font-size: 90%;
    line-height: 1.3333333;
    border-radius: 50px;
  }
  
  .c2a-btn {
    margin: 0 auto 3rem;
  }

  video{
    height: 97%;
  }

  input{
    width: 30px;
    height: 25px;
  }
  
  .pilih2{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }

  #isi{
    position: relative;
    margin: 0 3rem;
    margin-top: -68vh;
    border: 3px solid white;
    border-radius: 10px;
  }
  
  .main{
    padding-top: 9%;
    font-size: 90%;
  }
  
  .pilih{
    gap: 1rem;
    padding-bottom: 70px;
  }
  
  .isi2{
    position: relative;
    margin: 0 2rem;
    margin-top: -89vh;
    border: 3px solid white;
    border-radius: 10px;
  }

  .isi3{
    position: relative;
    margin: 0 2rem;
    margin-top: -89vh;
    border: 3px solid white;
    border-radius: 10px;
  }

  button{
    padding: 10px 20px;
    font-size: 90%;
  }

  .dua{
    width: 70px;
  }

  .tiga{
    width: 80px;
  }

  td{
    padding: 7px;
  }

  a{
    font-size: 12px;
    padding: 7px 25px;
  }

}

@media screen and(max-width: 400px) {

  .isi2{
    position: relative;
    margin: 0 2rem;
    margin-top: -219%;
    border: 3px solid white;
    border-radius: 10px;
  }
  
  .isi3{
    position: relative;
    margin: 0 2rem;
    border: 3px solid white;
    border-radius: 10px;
  }
}